<div class="card card-body p-4 rounded-0 bg-primary text-white">
<h3>INFORMACION DE LAS VISITAS</h3>

    <form action="/tasks/add" method="POST">


<div>
<label for="title">Ingrese el nombre del cliente:</title></label>
<input type="text" name="title" placeholder="Nombre" id="title" class="form-control rounded-0 bg-light text-dark">
</div>

<div>
<label for="description">Datos relevantes:</label>
<textarea name="description" placeholder="Fecha instalacion-Direccion-Observaciones" id="description" class="form-control rounded-0 bg-light text-dark"></textarea>
</div>

<div>
<label for="celular">Celular:</label>
<textarea name="Celular" placeholder="Celular" id="celular" class="form-control rounded-0 bg-light text-dark"></textarea>
</div>

<button class="btn btn-success btn-sm mt-2">Guardar</button>

</form>


</div>

